<div class="container-fluid bg-dark text-light">
  <div class="row">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>
      <a href="https://linkedin.com/jmlauranson">LinkedIn</a> ·
      <a href="https://github.com/jmlauranson">GitHub</a> ·
      <a href="{{ '/pages/imprint' | url }}">Imprint</a> · <a href="{{ '/pages/privacy' | url }}">Privacy</a>
    </p>
    <div class="row">
    <p class="text-center">
      <a href="/" target="_blank">jmla.dev</a> - 2023</p></div>
  </div>
</div>
