<div class="container">
  <div class="row align-items-md-stretch mb-3 text-center">
    <h2 class="text-center">Projects</h2>
    <div class="col-md-4 mt-3">
      <div class="h-100 p-5 rounded-3">
        <i class="icofont-light-bulb"></i>
        <h3>{{serviceTitle1}}</h3>
        <p>
          {{serviceDescription1}}
        </p>
        <a class="btn btn-outline-dark" href="{{ 'pages/blog' | url }}" class="btn btn-outline-light">Blog</a>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="h-100 p-5 rounded-3">
        <i class="icofont-light-bulb"></i>
        <h3>{{serviceTitle2}}</h3>
        <p>
          {{serviceDescription2}}
        </p>
        <a class="btn btn-outline-dark" href="https://sustainablewebdesign.org" target="_blank">
          sustainablewebdesign.org
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
            <path fill-rule="evenodd"
              d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
          </svg>
        </a>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="h-100 p-5 rounded-3" style="background-color: light-green">
        <i class="icofont-light-bulb"></i>
        <h3>{{serviceTitle3}}</h3>
        <p>
          {{serviceDescription3}}
        </p>
        <a class="btn btn-outline-dark" href="https://sustainablewebdesign.org" target="_blank">
          sustainablewebdesign.org
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
            <path fill-rule="evenodd"
              d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
