<div class="p-5 mb-4 bg-light rounded-3 text-center">
  <div class="container-fluid py-2">
    <h1 class="display-5 fw-bold">{{ title }}</h1>
    <img src="avatar.png">
    <p class="col-md-10 fs-4 mb-0 pt-2">
      {{ heroDescription }}
    </p>
    <a class="btn btn-primary btn-lg mt-2" href="{{ callToUrl }}">
      {{ callToButton }}
    </a>
  </div>
</div>
